* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* QuizzicalEntry */

.QuizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0 auto;
  position: relative;
}

.QuizBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.QuizBox h1 {
  color: #293264;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 1.95313rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.QuizBox p {
  color: #293264;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: -0.44rem;
}

.QuizBox button {
  border-radius: 0.9375rem;
  background: #4D5B9E;
  border: none;
  color: #F5F7FB;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 1.25rem;
}

.QuizBox button:hover {
  background-color: #293264;
}

.checkButton:hover {
  background-color: #293264;
}

.top-right-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bottom-left-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Quiz Main */

.QuizMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.questionBox {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
}

.questionTitle {
  margin-top: 1rem;
  color: #293264;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  max-width: 90%;
}

.checkButton {
  color: #F5F7FB;
  border-radius: 0.9375rem;
  background: #4D5B9E;
  border: none;
  color: #F5F7FB;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 0.64rem;
  padding: 0.8rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 1.25rem;
}

form {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DBDEF0;
  display: flex;
  flex-direction: space-between;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 5px 15px;
  margin: 10px;
  background: transparent;
  border-radius: 0.5rem;
  border: 0.794px solid #4D5B9E;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 0.64rem;
  font-weight: 500;
  cursor: pointer;
}

label:hover {
  background-color: #D6DBF5;
  color: #4D5B9E;
}

.selected {
  background-color: #94D7A2; /* Highlight selected answers in green */
  font-weight: bold; 
}

.correct {
  color: red; /* Color for correct answers */
}

.incorrect {
  background: #F8BCBC ; /* Color for incorrect answers */
  color: gray;
}

.scoreAndButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreParagraph {
  margin-top: 0.2rem;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

form .correctAnswer {
  color: red;
}

.selected.correct::after {
  content: " ✓"; /* Add a checkmark for selected and correct answers */
}

.selected.incorrect::after {
  content: " ✓"; /* Add a checkmark for selected and incorrect answers */
}

.scoreAndButtonContainer{
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

@media only screen and (max-width: 375px) {
  .questionTitle {
    max-width: 90%; /* Limit width of question titles */
    font-size: 0.8rem; /* Decrease font size for smaller screens */
    overflow-wrap: break-word; /* Allow long words to break and wrap */
  }

  .questionBox p {
    margin-top: 0.1rem; /* Add some space between questions */
  }

  .scoreAndButtonContainer {
    flex-direction: column; /* Stack score and button on top of each other */
    align-items: center; /* Center score and button */
    gap: 0.2rem;
  }

  .QuizMainContainer {
    height: 100vh;
  }

  .scoreParagraph{
    margin-top: none;
  }
}

@media only screen and (min-width: 376px) and (max-width: 600px) {
  .questionTitle {
    max-width: 90%; /* Limit width of question titles */
    font-size: 0.9rem; /* Decrease font size for smaller screens */
    overflow-wrap: break-word; /* Allow long words to break and wrap */
  }

  .questionBox p {
    margin-top: 0.7rem; /* Add some space between questions */
  }

  .scoreAndButtonContainer {
    flex-direction: column; /* Stack score and button on top of each other */
    align-items: center; /* Center score and button */
    gap: 0.5rem;
  }

  .QuizMainContainer {
    height: 100vh;
  }

  .scoreParagraph {
    margin-top: 1rem; /* Remove default margin */
  }
}

